QPushButton {
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    border: 2px solid #a9a9a9;
    padding: 8px 10px;
}

QPushButton:hover {
    background-color: #66BB6A;
    border: 2px solid #005bb5
}

QPushButton:pressed {
    background-color: #388E3C;\n}\n