QPushButton {
    background-color: #808080;
    color: white;
    border-radius: 8px;
    border: 2px solid #a9a9a9;
    padding: 8px 10px;
}

QPushButton:hover {
    background-color: #a9a9a9;
}

QPushButton:pressed {
    background-color: #696969;
}
