QPushButton {
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    border: 2px solid #ffffff;
    padding: 8px 10px;
}

QPushButton:hover {
    background-color: #333333;
}

QPushButton:pressed {
    background-color: #666666;
}
