QPushButton {
    background-color: #008CBA;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px 10px;
}

QPushButton:hover {
    background-color: #00A3CC;
}

QPushButton:pressed {
    background-color: #005F8C;
}
