QProgressBar {
    color: #E0E0E0;
    border: 2px solid #5A2A82;
    border-radius: 5px;
    text-align: center;
    background-color: #3C3C3C;
}

QProgressBar::chunk {
    background-color: #FF0088; /* Adjusted to a consistent pink */
    width: 20px;
}
