QPushButton {
    background-color: rgba(255, 162, 0, 170); /* Semi-transparent orange */
    font: bold 12px;
    min-width: 8em;
    padding: 4px;
    color: white;
    border-radius: 8px;
}

QPushButton:hover {
    background-color: #9575CD; /* Lighter violet */
}

QPushButton:pressed {
    background-color: #303F9F; /* Dark blue */
}
