QPushButton {
    background-color: rgb(23, 104, 0); /* Green */
    color: white;
    border-radius: 10px;
}

QPushButton:hover {
    background-color: #66BB6A; /* Lighter green */
}

QPushButton:pressed {
    background-color: rgb(150, 0, 0)/* Dark green */
}
