QPushButton {
    padding: 5px;
    color: #DDD;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #78909C, stop:1 #90A4AE);
    border-radius: 4px;
}

QPushButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #90A4AE, stop:1 #B0BEC5);
}

QPushButton:pressed {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #607D8B, stop:1 #78909C);
}
