QPushButton {
    background-color: rgb(0, 19, 191);
    color: white;
    border-radius: 4px;
    border: none;
    padding: 6px 12px;
}

QPushButton:hover {
    background-color: #64B5F6; /* Lighter blue */
    border-color: #BBDEFB; /* Even lighter blue border */
}

QPushButton:pressed {
    background-color: rgb(193, 138, 0); /* Darker blue */
}
