QPushButton {
    background-color: rgb(0, 98, 255);
    font: bold 12px;
    color: white;
    border-radius: 8px;
}

QPushButton:hover {
    background-color: #9575CD; /* Lighter violet */
}

QPushButton:pressed {
    background-color: #303F9F; /* Dark blue */
}
