QPushButton {
    background-color: rgb(128, 0, 0); /* Dark red */
    color: white;
    border-radius: 10px;
}

QPushButton:hover {
    background-color: rgb(255, 0, 0); /* Bright red */
}

QPushButton:pressed {
    background-color: rgb(153, 0, 0); /* Deeper dark red */
}
