git+https://github.com/EchterAlsFake/PHUB.git
git+https://github.com/EchterAlsFake/hqporner_api.git
git+https://github.com/EchterAlsfake/eporner_api.git
git+https://github.com/EchterAlsFake/xnxx_api.git
colorama
PySide6
requests
hue_shift
pymediainfo
Markdown
rich
tqdm
ffmpeg-progress-yield