PHUB
git+https://github.com/EchterAlsFake/hqporner_api
git+https://github.com/EchterAlsFake/eporner_api
git+https://github.com/EchterAlsFake/xnxx_api
git+https://github.com/EchterAlsFake/xvideos_api
git+https://github.com/EchterAlsFake/eaf_base_api
colorama
PySide6
requests
httpx
hue_shift
Markdown
ffmpeg-progress-yield
mutagen