Additionally, to PySide6, shiboken6 and Python3 also some other third party libraries
are needed by Buildozer and Porn Fetch. Those are listed down below. Please note, that
you should NEVER change the version numbers. If a package has a specific version number, it has
a good reason for it.

Usually I don't give version numbers, cuz why. But here it's mandatory.

Information:

If you want to build the App by yourself, please use the pre-compiled PySide and Shiboken6 wheels. Trust me, it makes
your life 200% easier.

Your NDK version needs to be r25c
Your PySide6 Version needs to be 6.6.1

:)

Those are the requirements. Add them to buildozer. DO NOT CHANGE VERSION NUMBERS!!!

The wheels I am using can be found here: https://github.com/EchterAlsFake/PySide6-to-Android/releases/1.0

,charset-normalizer==2.1.1,git+https://github.com/EchterAlsFake/PHUB@py-3.10,idna,urllib3,certifi,hue_shift,markdown,colorama,requests,git+https://github.com/EchterAlsFake/hqporner_api,ffmpeg-progress-yield,tqdm,git+https://github.com/EchterAlsFake/eporner_api,git+https://github.com/EchterAlsFake/xnxx_api,git+https://github.com/EchterAlsFake/xvideos_api,beautifulsoup4,mutagen,git+https://github.com/EchterAlsFake/eaf_base_api,pypresence