Additonally to PySide6, shiboken6 and Python3 also some other third party libraries
are needed by Buildozer and Porn Fetch. Those are listed down below. Please note, that
you should NEVER change the version numbers. If a package has a specific version number, it has
a good reason for it.

Usually I don't give version numbers, cuz why. But here it's mandatory.


,charset-normalizer==2.1.1,git+https://github.com/EchterAlsFake/PHUB@py-3.10,idna,urllib3,certifi,ue_shift,markdown,colorama,requests,hqporner_api,pymediainfo,ffmpeg-progress-yield,tqdm