name: Build GUI (Linux x64)

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build-pornfetch-gui-linux-x64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.13 x64
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv (with cache)
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Sync dependencies (uv)
        run: |
          uv sync --extra dev

      - name: Frontend update (Linux)
        run: |
          cd src/frontend
          bash update.sh
          cd ../../

      - name: Build GUI (Linux x64) (pyside6-deploy)
        run: |
          cp -f src/build/pysidedeploy_linux.spec /tmp/pysidedeploy_linux.spec
          uv run -- pyside6-deploy -c /tmp/pysidedeploy_linux.spec -f -v
          mv "Porn Fetch.bin" "PornFetch_Linux_GUI_x64.bin"

      - name: Generate SHA256 Checksum
        run: |
          sha256sum "PornFetch_Linux_GUI_x64.bin" > "PornFetch_Linux_GUI_x64.sha256"

      - name: Publish SHA256 to GitHub Actions Summary
        run: |
          echo "### SHA256 Checksum for PornFetch_Linux_GUI_x64.bin" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
          cat "PornFetch_Linux_GUI_x64.sha256" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY

      - name: Archive GUI build
        uses: actions/upload-artifact@v4
        with:
          name: PornFetch_Linux_GUI_x64
          path: PornFetch_Linux_GUI_x64.bin
