name: Build CLI (Windows x32, x64)

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  build-pornfetch-cli-windows-x64:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.13 x64
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"
          architecture: x64

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install -r requirements_cli.txt av

      - name: Build Porn Fetch (CLI - Windows - X64) (PyInstaller)
        run: |
          pyinstaller -F Porn_Fetch_CLI.py
          Move-Item -Path dist\Porn_Fetch_CLI.exe -Destination dist\PornFetch_Windows_CLI_x64.exe

      - name: Generate SHA256 Checksum
        run: |
          certUtil -hashfile dist\PornFetch_Windows_CLI_x64.exe SHA256 | findstr /v "hashfile CertUtil" > dist\PornFetch_Windows_CLI_x64.sha256

      - name: Publish SHA256 to GitHub Actions Summary
        shell: bash
        run: |
          echo "### SHA256 Checksum for PornFetch_Windows_CLI_x64.exe" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
          cat dist/PornFetch_Windows_CLI_x64.sha256 >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY

      - name: Archive Porn Fetch CLI (Windows X64) build
        uses: actions/upload-artifact@v4
        with:
          name: PornFetch_Windows_CLI_x64
          path: dist\PornFetch_Windows_CLI_x64.exe

  build-pornfetch-cli-windows-x32:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.13 x32
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"
          architecture: x86

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install -r requirements_cli.txt

      - name: Build Porn Fetch (CLI - Windows - X32) (PyInstaller)
        run: |
          pyinstaller -F Porn_Fetch_CLI.py
          Move-Item -Path dist\Porn_Fetch_CLI.exe -Destination dist\PornFetch_Windows_CLI_x32.exe

      - name: Generate SHA256 Checksum
        run: |
          certUtil -hashfile dist\PornFetch_Windows_CLI_x32.exe SHA256 | findstr /v "hashfile CertUtil" > dist\PornFetch_Windows_CLI_x32.sha256

      - name: Publish SHA256 to GitHub Actions Summary
        shell: bash
        run: |
          echo "### SHA256 Checksum for PornFetch_Windows_CLI_x32.exe" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
          cat dist/PornFetch_Windows_CLI_x32.sha256 >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY

      - name: Archive Porn Fetch CLI (Windows X32) build
        uses: actions/upload-artifact@v4
        with:
          name: PornFetch_Windows_CLI_x32
          path: dist\PornFetch_Windows_CLI_x32.exe
