name: Build GUI (Linux x64)

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

permissions:
  contents: read

env:
  PYTHONUNBUFFERED: "1"

jobs:
  build-pornfetch-gui-linux-x64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.13 x64
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv (with cache)
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Qt dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libegl1 \
            libgles2 \
            libxkbcommon-x11-0 \
            libdbus-1-3 \
            libxcb-cursor0 \
            libxcb-icccm4 \
            libxcb-image0 \
            libxcb-keysyms1 \
            libxcb-randr0 \
            libxcb-render-util0 \
            libxcb-shape0 \
            libxcb-shm0 \
            libxcb-util1 \
            libxcb-xfixes0 \
            libxcb-xinerama0 \
            libxcb-xkb1 \
            libgl1-mesa-dev \
            xvfb

      - name: Sync dependencies (uv)
        run: |
          uv sync --extra dev --extra av

      - name: Frontend update (Linux)
        run: |
          cd src/frontend
          bash update.sh
          cd ../
          cd scripts
          uv run patch.py
          cd ../../
          

      - name: Build GUI (Linux x64) (pyside6-deploy)
        run: |
          cp -f src/build/pysidedeploy_linux.spec /tmp/pysidedeploy_linux.spec
          uv run -- pyside6-deploy -c /tmp/pysidedeploy_linux.spec -f -v
          mv "Porn Fetch.bin" "PornFetch_Linux_GUI_x64.bin"

      - name: Generate SHA256 Checksum
        run: |
          sha256sum "PornFetch_Linux_GUI_x64.bin" > "PornFetch_Linux_GUI_x64.sha256"

      - name: UI Test
        run: |
          chmod +x PornFetch_Linux_GUI_x64.bin
          xvfb-run ./PornFetch_Linux_GUI_x64.bin -t

      - name: Publish SHA256 to GitHub Actions Summary
        run: |
          echo "### SHA256 Checksum for PornFetch_Linux_GUI_x64.bin" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
          cat "PornFetch_Linux_GUI_x64.sha256" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY

      - name: Archive GUI build
        uses: actions/upload-artifact@v4
        with:
          name: PornFetch_Linux_GUI_x64
          path: PornFetch_Linux_GUI_x64.bin
